@media (max-width: 991px) {
  .title {
    margin: 2rem auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .ctas {
    .btn-default,
    .btn-primary {
      font-size: 0.7rem;
      margin-bottom: 10px;
    }
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  hr {
    margin: 2rem 0;
  }

  .title {
    font-size: 1.7rem;
    line-height: 40px;
    max-width: 400px;
    margin: 2rem auto;
    text-align: center;
  }
}

@media (max-width: 350px) {
  h1, h2 {
    line-height: 30px;
  }

  h1.title, h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}
