@import "open-sans.import.less";
@import "variables.import.less";
@import "header.import.less";
@import "home/home.import.less";
@import "content/content.import.less";

@icon-font-path: "/fonts/";

@font-face {
  font-family: "league-spartan";
  src: url("/fonts/spartan/leaguespartan-bold.eot");
  src: url("/fonts/spartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/spartan/leaguespartan-bold.woff") format("woff"),
       url("/fonts/spartan/leaguespartan-bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @header-font;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

html, body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

strong {
  font-family: "leaguespartan", sans-serif;
}

em {
  font-style: italic;
}

hr {
  margin: 3rem 0;
}

p {
  max-width: 640px;
  margin: 0 0 1rem;
}

main {
  margin-top: 85px;
}

.btn-default,
.btn-primary {
  background-color: white;
  border-radius: @border-radius;
  border: 2px solid @angular-red;
  font-size: 1rem;
  padding: .5rem 1rem;
  transition: .25s color, .25s background-color, .25s border-color;
  color: @angular-red;

  i {
    top: 2px;
  }

  &:active,
  &:hover {
    background-color: @active-button;
    border-color: @active-button;
    color: @background-color;
  }
}

.ctas {
  display: block;
  text-align: center;
  margin: 2rem 0;

  &>* {
    margin-right: 10px;
  }
}

// Adds mobile specific styles at the end
// to override default styles above.
@import "main.mob.import.less";
