@media (max-width: 991px) {
  .home {
    .hero {
      .cta {
        margin-top: 2rem;
      }
    }

    .video .video-wrapper {
      iframe {
        width: 500px;
        height: 275px;
      }
    }
  }
}

@media (max-width: 767px) {
  .home {
    .hero {
      padding: 1rem 0;

      h1.title {
        margin-top: 0;
        margin-bottom: 0;
      }

      .main-logo {
        width: 250px;
        height: 250px;
      }

      .cta {
        margin-top: 2rem;
      }
    }

    .intro {
      margin-top: 2rem;
      margin-bottom: 2rem;

      h1.title {
        margin-top: 0;
        margin-bottom: 2rem;
      }

      .slides {
        .tutorial-cta {
          margin-top: 2rem;
        }

        .small-hero {
          height: auto;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .home {
    .video .video-wrapper {
      iframe {
        width: 300px;
        height: 165px;
      }
    }
  }
}

@media (max-width: 350px) {
  .home {
    .video .video-wrapper {
      iframe {
        width: 200px;
        height: 150px;
      }
    }

    .hero, .intro, .extras, .video {
      h1, h2 {
        line-height: 30px;
      }

      .title h1, h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.3rem;
      }
    }

    .video h1 {
      margin: 2rem;
    }
  }
}
