<div ng-controller="ExampleCtrl">
  <div ngf-drop ngf-select
       ngf-change="addImages($files)"
       ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
       ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
       ngf-drop-available="dropAvailable">
    <div>Click here to select image</div>
    <div>
      <strong>OR</strong>
    </div>
    <div ng-show="dropAvailable">You can also drop image to here</div>
  </div>
  <div ng-if="imgSrc" class="ng-crop-container">
    <img-crop image="imgSrc" result-image="$parent.myCroppedImage" area-type="square"></img-crop>
    <button ng-click="saveCroppedImage()">Save</button>
  </div>
  <div class="images-tiles-container" sv-root sv-part="images" sv-on-sort="updateOrder($indexFrom, $indexTo)">
    <div ng-repeat="image in images" class="image-tile" sv-element>
      <button ng-click="removeImage(image)" class="delete-button">X</button>
      <img draggable="false" class="thumbnail" ng-src="{{ image.url()}}"><br />
      <a href="#" editable-text="image.metadata.description" onbeforesave="updateDescription($data, image)">{{ image.metadata.description || 'No Description' }}</a>
      {{image.metadata.order}}
    </div>
  </div>
</div>