[submodule "examples/parties/packages/angular2"]
	path = examples/parties/packages/angular2
	url = https://github.com/barbatus/angular2
[submodule "examples/parties/packages/meteor-angular2"]
	path = examples/parties/packages/meteor-angular2
	url = https://github.com/Urigo/Meteor-Angular2
