@media (max-width: 991px) {
  .tutorial-container {
    .improve-button {
      float: none;
      margin: 1rem 0;
    }

    .buttons {
      margin-bottom: 0;
    }

    .nav {
      float: none;
      display: block;

      .btn-default,
      .btn-primary {
        font-size: 0.7rem;
      }
    }

    .video iframe { 
      float: none;
      display: block;
      margin: 0 auto;
    }

    h1.title {
      max-width: 100%;
    }
  }
}

@media (max-width: 449px) {
  .tutorial-container {
    .nav {
      .btn-default,
      .btn-primary {
        width: 100px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 350px) {
  .tutorial-container {
    .video iframe {
      width: 250px;
      height: 150px;
    }
  }
}
