@media (max-width: 992px) {
  .about {
    .team li img {
      width: 6rem;
      height: 6rem;
    }
  }
}

@media (max-width: 767px) {
  .about {
    .title {
      margin-bottom: 0;
    }

    .team li img {
      width: 7rem;
      height: 7rem;
    }

    .roadmap {
      padding: 2rem 0;

      .node {
        // Removes trailing red line
        // for second step.
        &:nth-child(2)::after {
            display: none;
        }
      }
    }
  }
}
