@import "../../variables.import.less";

.about {
  .team {
    list-style: none;
    padding: 0;

    li {
      padding: 1rem;
      text-align: center;

      img {
        border-radius: 8rem;
        width: 8rem;
        height: 8rem;
        display: block;
        margin: 0 auto;
      }

      a {
        display: block;
        margin-top: .5rem;
      }
    }
  }

  .team-wrapper {
    h1 {
      margin-top: 2rem;
    }
  }

  .roadmap-wrapper {
    margin-bottom: 10px;
  }

  .roadmap {
    background-color: @second-background-color;
    border-radius: @border-radius;
    padding: 3rem 1rem;
    position: relative;
    z-index: 0;
    white-space: nowrap;
    display: table;

    .node {
      position: relative;
      vertical-align: top;
      text-align: center;
      font-size: .8rem;

      label {
        white-space: normal;
      }

      &::before {
        content:'';
        margin: 1rem auto;
        width: 20px;
        height: 20px;
        border-radius: 30px;
        display: block;
        background-color: @angular-red;
        border: 2px solid white;
        z-index: 1;
        box-shadow: 0px 0px 2px 2px @angular-red;
      }

      &::after {
        border-bottom: 1px solid @angular-red;
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        background-color: blue;
        top: 26px;
        left: 50%;
        box-shadow: 0 0 20px @angular-red;
        z-index: -1;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}

@import "about.mob.import.less";
