@import "../variables.import.less";

.angular-2 {
  h1, img {
    margin-bottom: 1rem;
  }

  &>p {
    max-width: 480px;
    margin: 2rem auto;
  }

  .header {
    text-align: center;

    p {
      font-size: 1.2rem;
      margin: 0 auto 1rem;
    }
  }

  .angular-2-option {
    text-align: left;
    min-height: 210px;

    h2 {
      text-align: center;
      margin: 2rem 0 1.5rem;
    }
  }
}

.fa-chevron-circle-right,
.fa-chevron-circle-down {
  cursor: pointer;
}

.sample {
  text-align: left;
}

@import "angular-2.mob.import.less";
