@import "angular-2.import.less";
@import "about/about.import.less";
@import "api_tutorial/tutorial.import.less";
@import "ng_server/ng_server.import.less";

.improve-button {
    float: right;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .improve-button {
        float: none;
        text-align: left;
    }
}
