// Code styles

code {
  min-width: 500px;
  overflow-x: scroll;
}

.variables-matrix {
  border: 1px solid #ddd;
  width: 100%;
  margin: 10px 0;

  td,
  th {
    padding: 10px;
  }

  td {
    border-top: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
  }

  td + td,
  th + th {
    border-left: 1px solid #eee;
  }

  tr:nth-child(even) td {
    background: #f5f5f5;
  }

  th {
    background: #f1f1f1;
  }
}

.type-hint {
  display:inline-block;
  background: gray;
}

.variables-matrix .type-hint {
  text-align:center;
  min-width: 60px;
  margin: 1px 5px;
}

.type-hint + .type-hint {
  margin-top: 5px;
}

.type-hint-expression {
  background: purple;
}

.type-hint-date {
  background: pink;
}

.type-hint-string {
  background: #3a87ad;
}

.type-hint-function {
  background: green;
}

.type-hint-object {
  background: #999;
}

.type-hint-array {
  background: #F90;;
}

.type-hint-boolean {
  background: rgb(18, 131, 39);
}

.type-hint-number {
  background: rgb(189, 63, 66);
}

.type-hint-regexp {
  background: rgb(90, 84, 189);
}

.type-hint-domelement {
  background: rgb(95, 158, 160);
}

.type-hint-version {
  background: rgb(160, 0, 3);
}

.return-arguments,
.return-arguments th,
.return-arguments th + th,
.return-arguments td,
.return-arguments td + td {
  border-radius: 0;
  border: 0;
}

.return-arguments td:first-child {
  width: 100px;
}

.am-note p {
  margin: 1rem auto;
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #C7254E;
  display: inline-block;
  font-size: 75%;
  padding: 0.75rem 1.25rem;

  .am-note-bold {
    font-weight: bold;
  }
}
