.code-box {
  .code-box-heading {
    button {
      color: black;
      float: right;
      background: none;
      border: 1px solid #aaa;
      padding: 2px 10px;
      margin: -3px;
    }
  }

  .code-box-content {
    max-height: 200px;
    overflow-y: scroll;
    padding-bottom: 0;

    pre {
      border: none;
      padding: 0;
      margin: 0;
      box-shadow: none;
    }
  }

  p {
    display: none; /* to get rid of extra p from markdown */
  }
}
