.tutorial-container, .api-container {
  padding-top: 10px;

  .main-content {

    .src-code {
      font-size: 13px;
    }

    margin-bottom: 6rem;
    font-size: 1.2rem;
    p,
    li,
    h1,
    h2,
    h3,
    hr {
      max-width: 640px;
    }

    ol {
      list-style: decimal outside;
      margin-left: 2rem;
    }

    ul {
      list-style: disc outside;
      margin-left: 2rem;

      &.first-get-started {
        margin-left: 0;
      }
    }

    .version-chooser {
      list-style: none;
      margin-left: 0;

      li {
        a.dropdown-toggle {
          font-size: 12px;
          padding: 8px;
          background: white;
          color: black;
          border: 1px solid rgb(166,166,166);
        }
      }

      ul.dropdown-menu {
        list-style: none;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .tutorial-container {
    .main-content {
      font-size: 1rem;
    }
  }
}
