@import "../../variables.import.less";
@import "common.import.less";
@import "left_menu.import.less";
@import "code_styles.import.less";
@import "code_box.import.less";

.tutorial-container {
  .improve-button {
    margin: 0
  }

  .video iframe {
    float: right;
    border: 3px solid gray;
    width: 300px;
    height: 169px;
  }

  .nav {
    float: left;
  }

  .buttons {
    margin-bottom: 2rem;
  }

  .header, .footer {
    margin: 1rem auto;
    display: inline-block;
    width: 100%;
  }

  .footer {
    margin-top: 2rem;
  }
}

.left-menu {
  .tutorials-nav-button {
    padding: 0 1rem;

    &:nth-child(2) {
      margin-left: 1rem;
    }

    h4 {
      font-size: 14px;
    }

    &.active {
      background-color: #dd1b16;
      border-color: @active-button;
      color: @background-color;

      &::before {
        border-color: @active-button;
        background-color: @active-button;
      }
    }
  }

  &.tutorial-menu li a {
    &::before {
      content: '';
      height: .8em;
      width: .8em;
      display: inline-block;
      border: 2px solid @angular-red;
      border-radius: 1em;
      margin-right: .5em;
      position: relative;
      top: -1px;
      background: white;
      z-index: 5;
    }

    &::after {
      border-right: 1px solid @angular-red;
      content: '';
      display: block;
      height: 104%;
      position: absolute;
      top: 21px;
      left: 22px;
      z-index: -1;
    }

    &:hover,
    &.active,
    &:focus {
      color: @active-button;
      background-color: transparent;

      &::before {
        border-color: @active-button;
        background-color: @active-button;
      }
    }
  }
}

@import "tutorial.mob.import.less";
